
body {
    font-family: 'Arial', sans-serif;
    background-image: url('bg3.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.5);
}

.card-body {
    padding: 30px;
}

.form-group label {
    font-weight: bold;
    color: #333333;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.btn-primary {
    background-color: rgba(0, 0, 0, 0.5);
    
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    
    transform: scale(1.05);
}

.btn-warning {
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.btn-warning:hover {
    background-color: #e0a800;
    transform: scale(1.05);
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.btn {
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}
